
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header ">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Crawlr</a>
        </div>
        <form class="navbar-form navbar-left row" action ="/" id="crawl-form" method="post">
        <div class="form-group">
    					
                        <input type="text" class="form-control shift-left" name="url" id="url" placeholder="URL" autocompete="on">
                        <input type="text" class="form-control md-input" name="search_term" id="search_term" placeholder="Search Term" >
                        <input type="number" class="form-control sm-input" name="levels" id="levels" placeholder="Levels" min="1" >
                        <select name="crawl_type" class="selectpicker md-input show-tick" id="crawl_type" >
                          <option value="0" data-icon="glyphicon glyphicon-resize-small">Depth-First</option>
                          <option value="1" data-icon="glyphicon glyphicon-resize-full">Breadth-First</option>
                          <option value="2" data-icon="glyphicon glyphicon glyphicon-fire">Single-Path DFS</option>
                        </select>
                        
                        <select name="visual_type" class="selectpicker md-input show-tick" id="visual_type">
                          <option value="0" data-icon="glyphicon glyphicon-grain">Force Layout</option>
                          <option value="1" data-icon="glyphicon glyphicon-record">Circle Packing</option>
                        </select>
            {{!--             <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        Select icon <span class="caret"></span>
    </button>
    <ul class="dropdown-menu list-inline" role="menu">
        <li><a class="btn" id="bfs" href="#"><span class="glyphicon glyphicon-cutlery"></span></a></li>
        <li><span class="glyphicon glyphicon-fire"></span></li>
                
    </ul>
</div> --}}

                </div>

  			<input type="submit" class="btn btn-default" name="crawlSubmit" id="crawlSubmit" value="Crawl"  title= "URL must have 'http://' or 'https://'">

</form>

        <div class="navbar-collapse collapse navbar-right">
            {{!-- <select name="visual_type" class="selectpicker md-input show-tick" id="settings">
                          <option data-icon="glyphicon glyphicon-grain" value="html">html</option>
                          <option data-icon="glyphicon glyphicon-record" value="js">js</option>
                        </select> --}}
                <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" id="settings" value="html" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="btn" id="html" href="#">
                                HTML ONLY
                                <span class="glyphicon glyphicon-ok" id="html" aria-hidden="true"></span>
                        </li></a>
                        <li><a class="btn" id="js" href="#">
                                ENABLE JS
                                <span id="js" aria-hidden="true"></span>
                        </li></a>
                        <li><a class="btn" id="scrapy" href="#">
                            SCRAPY
                            <span id="scrapy" aria-hidden="true"></span>
                        </li></a>
                    </ul>
                    <!--<button type="button" class="btn btn-glyph-custom" aria-label="Right Align">-->
                    <!--</button>-->
                </li>
            </ul>
    </div>

</nav>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row" >
            <div class="col-lg-10 col-lg-offset-1 text-center" >
                <h1 class="section-heading">Crawlr</h1>
                <h4>Crawlr is a web crawler that generates interactive graphical visualizations based upon a starting URL and graph traversal algorithms.</h4>




                {{!-- <form action ="/" id="crawl-form" class="form-inline" method="post">
                <hr class="light">
                    <div class="form-group">
                      <p>
                        <label for="url">URL</label>
                        <input type="text" class="form-control" name="url" id="url" placeholder="http://www.sciencekids.co.nz/sciencefacts/animals/cat.html" autocompete="on">
                        &nbsp;&nbsp;&nbsp;
                        <label for="search_term">Search Term</label>
                        <input type="text" class="form-control" name="search_term" id="search_term" value="">
                      </p>
                      <p>
                        <label for="levels">Levels</label>
                        <input type="number" class="form-control" name="levels" id="levels" placeholder="2" min="1">
                       &nbsp;&nbsp;&nbsp;
                        <label for="crawl_type">Crawl Type</label>
                        <select name="crawl_type" id="crawl_type">
                          <option value="0">Depth-First</option>
                          <option value="1">Breadth-First</option>
                        </select>
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <label for="visual_type">Visualization</label>
                        <select name="visual_type" id="visual_type">
                          <option value="0">Graph</option>
                          <option value="1">Circle Packing</option>
                        </select>
                    </div>
                    </p>
                    <p>
                      <input type="submit" class="btn btn-primary" name="crawlSubmit" id="crawlSubmit" value="Crawl" disabled="disabled" title= "URL must have 'http://' or 'https://'">
                    </p>
                </form>
                <br> --}}

        {{#if url_history}}
        <div id="user_history" >
        <form action ="/" id="reset-form" class="form-inline margin-top" method="post">
        
            <label for="url_history">Search History</label>

                <select name="url_history" id="url_history2">
                <option selected="selected"></option>
                {{#each url_history}}
                  <option>URL: {{this.url}} | Search Term: {{this.keyword}} | Levels: {{this.max_levels}} | Crawl Type: {{this.crawl_type}} | Visualization: {{this.visual_type}}</option>
                {{/each}}  
                </select>
             <input type="submit" class="btn btn-primary btn-xs" name="resetSubmit" id="resetSubmit" value="Clear History">
                
        </form>
        </div>
        {{/if}}
            </div>
    </div>
</section>



